@import url("https://fonts.googleapis.com/css?family=Roboto");
main {
  background-image: url("assets/bg.png");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  color: #008073;
  font-size: 2.5em;
}

h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2em;
  margin: 0 6%;
  padding: 0.3em 0;
}

h3 {
  color: #008073;
  font-size: 2em;
  margin: 1em 6%;
  margin-bottom: 0;
}

p {
  font-size: 1.5em;
}

section div {
  margin: auto 6%;
}

.about .h2_wrapper {
  margin: 0;
  background-color: #008073;
}
.about h3 {
  color: #795548;
}
.about .mission {
  margin: 20px 6%;
  margin-top: 0;
}
.about .strengths {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 20px 6%;
}
.about .strengths div {
  height: 5em;
}
.about .strengths img {
  height: 3em;
  width: auto;
  margin: 0 auto;
  display: block;
}
.about .strengths p {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin: 5px 0 0 0;
}

.projects .h2_wrapper {
  margin: 0;
  background-color: #008073;
}
.projects .project_template {
  background-color: #fff;
  border: 1px solid #c9c6c6;
  margin: 15px 6%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.projects .project_template img {
  max-width: 100%;
}
.projects .project_template div {
  margin: 0;
  padding: 1.6em;
}
.projects .project_template h3 {
  margin: 0;
  padding: 0.2em 0;
}
.skills .h2_wrapper {
  margin: 0;
  background-color: #008073;
}
.skills .technology_skills {
  display: flex;
  flex-direction: column;
  padding: 1.6em;
  flex-grow: 1;
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.skills .technology_skills h3 {
  font-size: 2.5em;
  border-bottom: 1px solid #c9c6c6;
  margin: 1em 0;
  padding-bottom: 0.3em;
}
.skills .technology_skills .card_title {
  margin: 0;
}
.skills .technology_skills .card_body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.skills .technology_skills .card_body img {
  height: 5em;
  width: auto;
}
.skills .technology_skills div .card_body .skill_logo {
  height: 7em;
  font-size: 2em;
}
.skills .colloboration_skills {
  display: flex;
  flex-direction: column;
  padding: 1.6em;
  flex-grow: 1;
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.skills .colloboration_skills h3 {
  font-size: 2.5em;
  border-bottom: 1px solid #c9c6c6;
  margin: 1em 0;
  padding-bottom: 0.3em;
}
.skills .colloboration_skills .card_title {
  margin: 0;
}
.skills .colloboration_skills .card_body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.skills .colloboration_skills .card_body img {
  height: 5em;
  width: auto;
}
.skills .colloboration_skills div .card_body .skill_logo {
  height: 7em;
  font-size: 2em;
}

img .hero_img {
  height: 50%;
}

#top_section {
  height: 60px;
  display: flex;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #c9c6c6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#top_section img {
  padding: 10px;
  width: 40px;
  height: 40px;
  align-self: center;
}
#top_section div {
  flex-grow: 100;
  align-self: center;
  justify-content: center;
  display: block;
}
#top_section div h1 {
  margin: 0px 10px;
}
#top_section div h3 {
  align-items: flex-start;
  margin: 0px 10px;
  font-size: 1em;
  color: #795548;
}

#hero_img {
  padding-top: 60px;
}

.experience .h2_wrapper {
  margin: 0;
  background-color: #008073;
}
.experience .TLU {
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  padding: 1.6em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.experience .TLU .card_title {
  display: flex;
  border-bottom: 1px solid #c9c6c6;
  margin: 1em 0;
  padding-bottom: 0.3em;
}
.experience .TLU .card_title a {
  font-size: 2em;
  color: #008073;
}
.experience .TLU .card_title img {
  height: 1.5em;
  width: auto;
}
.experience .TLU .card_body {
  margin: 0;
}
.experience .TLU .card_body h3 {
  color: #795548;
  font-size: 1.8em;
  margin: auto 0;
}
.experience .TLU .card_footer {
  margin: 0;
  color: #9c9999;
}
.experience .TLU .card_footer p {
  margin-bottom: 0;
  color: #af8778;
}
.experience .TH {
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  padding: 1.6em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.experience .TH .card_title {
  display: flex;
  border-bottom: 1px solid #c9c6c6;
  margin: 1em 0;
  padding-bottom: 0.3em;
}
.experience .TH .card_title a {
  font-size: 2em;
  color: #008073;
}
.experience .TH .card_title img {
  height: 1.5em;
  width: auto;
}
.experience .TH .card_body {
  margin: 0;
}
.experience .TH .card_body h3 {
  color: #795548;
  font-size: 1.8em;
  margin: auto 0;
}
.experience .TH .card_footer {
  margin: 0;
  color: #9c9999;
}
.experience .TH .card_footer p {
  margin-bottom: 0;
  color: #af8778;
}

.education .h2_wrapper {
  margin: 0;
  background-color: #008073;
}
.education .CA {
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  padding: 1.6em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.education .CA .card_title {
  margin: 0;
}
.education .CA .card_title a {
  text-decoration: none;
  color: #008073;
  font-size: 2em;
}
.education .CA .card_title p {
  color: #795548;
  margin-top: 0.3em;
}
.education .CA .card_body {
  margin: 0;
}
.education .CA .card_body ul {
  padding-inline-start: 2em;
  font-size: 1.5em;
}
.education .CA .card_body li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-decoration: none;
}
.education .CA .card_body a {
  text-decoration: none;
  color: #000;
}
.education .USYD {
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  padding: 1.6em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.education .USYD .card_title {
  margin: 0;
}
.education .USYD .card_title a {
  text-decoration: none;
  color: #008073;
  font-size: 2em;
}
.education .USYD .card_title p {
  color: #795548;
  margin-top: 0.3em;
}
.education .USYD .card_body {
  margin: 0;
}
.education .USYD .card_body ul {
  padding-inline-start: 2em;
  font-size: 1.5em;
}
.education .USYD .card_body li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-decoration: none;
}
.education .USYD .card_body a {
  text-decoration: none;
  color: #000;
}
.education .online {
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  padding: 1.6em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.education .online .card_title {
  margin: 0;
}
.education .online .card_title a {
  text-decoration: none;
  color: #008073;
  font-size: 2em;
}
.education .online .card_title p {
  color: #795548;
  margin-top: 0.3em;
}
.education .online .card_body {
  margin: 0;
}
.education .online .card_body ul {
  padding-inline-start: 2em;
  font-size: 1.5em;
}
.education .online .card_body li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-decoration: none;
}
.education .online .card_body a {
  text-decoration: none;
  color: #000;
}
.education .online .card_title p {
  color: #008073;
  font-size: 2em;
}

.favourites .h2_wrapper {
  margin: 0;
  background-color: #008073;
}
.favourites .table_card {
  font-size: 1.5em;
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}
.favourites .table_card table {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.favourites .table_card th {
  height: 3em;
  background-color: #008073;
  color: #fff;
  border-left: 1px solid #fff;
}
.favourites .table_card th .first {
  color: #000;
  border-left: none;
}
.favourites .table_card .first {
  border-left: none;
}
.favourites .table_card td {
  font-size: 1.5em;
  border: 1px solid #c9c6c6;
  padding: 1em;
}

.contact .h2_wrapper {
  margin: 0;
  background-color: #008073;
}
.contact .contact_template {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0;
  background-color: #fff;
  margin: 15px 6%;
  border: 1px solid #c9c6c6;
  padding: 1.6em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  flex-wrap: wrap;
}
.contact .contact_template div {
  margin: 0.3em 6%;
}
.contact .contact_template img {
  height: 5em;
  width: auto;
}
.contact .contact_template a {
  text-decoration: none;
  font-size: 1.5em;
  color: #000;
  display: block;
  margin: 1em 0;
}

#nav_bar {
  height: 100%;
  width: 50%;
  background-color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#nav_bar div {
  height: 3em;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
#nav_bar a {
  text-decoration: none;
  color: #000;
  align-self: center;
  margin-left: 1em;
}
#nav_bar img {
  height: 1em;
  width: auto;
  align-self: center;
}
#nav_bar :hover {
  background-color: #c9c6c6;
}

#nav_bar.pop_out {
  left: -50%;
}

/*# sourceMappingURL=styles.css.map */
