$main_font_color: #008073;
$sub_color: #795548;
$nav_height: 60px;
$standard_block_width: 90%;
$full_block_width: 100%;
$standard_margin: 0 auto;
$align_margin: 6%;
$full_block_margin: 0;
$div_section_top_margin: 20px;
$parent_font_size: 11px;
$card_border: 1px solid rgb(201, 198, 198);
$card_color: #fff;
$card_margin: 15px $align_margin;
$card_padding: 1.6em;
$skill_logo_height: 3em;
$experience_logo_height: 4em;
$card_shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);